<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ProductsMapper">  
 
	<!-- 查询 -->
	<select id="listPageByParam" parameterType="page" resultType="pd">
		SELECT P.*,S.NAME AS CREATE_NAME,U.NAME AS MOFIDY_NAME,PS.SHOP_ID,SH.SHOP_NAME FROM JL_DP_PRODUCT P LEFT JOIN SYS_USER S ON P.CREATE_BY=S.ID 
		LEFT JOIN SYS_USER U ON S.MODIFY_BY=U.ID LEFT JOIN JL_DP_PRODUCT_SHOP PS ON PS.PROD_ID=P.ID LEFT JOIN JL_DP_SHOP SH ON PS.SHOP_ID=SH.ID WHERE 1=1 AND PS.USER_ID=#{pd.USERID}
		<if test="pd.SHOP_ID !=null and pd.SHOP_ID != ''">
		    and PS.SHOP_ID =#{pd.SHOP_ID}
		</if>
		<if test="pd.SHOP_NAME !=null and pd.SHOP_NAME != ''">
		    and SH.SHOP_NAME  LIKE CONCAT(CONCAT('%', #{pd.SHOP_NAME}),'%') 
		</if>
		<if test="pd.PROD_NO !=null and pd.PROD_NO != ''">
		    and P.PROD_NO  LIKE CONCAT(CONCAT('%', #{pd.PROD_NO}),'%') 
		</if>
		<if test="pd.PROD_NAME !=null and pd.PROD_NAME != ''">	
			and P.PROD_NAME LIKE CONCAT(CONCAT('%', #{pd.PROD_NAME}),'%') 
		</if>
		<if test="pd.STATUS !=null and pd.STATUS !=''">	
			and P.STATUS =#{pd.STATUS}
		</if> 
	</select> 
	
	<!-- 查询条数 -->
	<select id="findCount" parameterType="page" resultType="pd"> 
		SELECT COUNT(*) counts FROM JL_DP_PRODUCT P LEFT JOIN SYS_USER S ON P.CREATE_BY=S.ID 
		LEFT JOIN SYS_USER U ON S.MODIFY_BY=U.ID LEFT JOIN JL_DP_PRODUCT_SHOP PS ON PS.PROD_ID=P.ID LEFT JOIN JL_DP_SHOP SH ON PS.SHOP_ID=SH.ID WHERE 1=1 AND PS.USER_ID=#{pd.USERID}
		<if test="pd.SHOP_ID !=null and pd.SHOP_ID != ''">
		    and PS.SHOP_ID =#{pd.SHOP_ID}
		</if>
		<if test="pd.SHOP_NAME !=null and pd.SHOP_NAME != ''">
		    and SH.SHOP_NAME  LIKE CONCAT(CONCAT('%', #{pd.SHOP_NAME}),'%') 
		</if>
		<if test="pd.PROD_NO !=null and pd.PROD_NO != ''">
		    and P.PROD_NO  LIKE CONCAT(CONCAT('%', #{pd.PROD_NO}),'%') 
		</if>
		<if test="pd.PROD_NAME !=null and pd.PROD_NAME != ''">	
			and P.PROD_NAME LIKE CONCAT(CONCAT('%', #{pd.PROD_NAME}),'%') 
		</if>
		<if test="pd.STATUS !=null and pd.STATUS !=''">	
			and P.STATUS =#{pd.STATUS}
		</if> 
	</select> 
	
	<select id="queryById" parameterType="pd" resultType="pd">
	   SELECT * FROM JL_DP_PRODUCT WHERE ID=#{ID}
	</select>  
	
	<resultMap id="oMap" type="pd">
		<!-- WARNING - @mbggenerated This element is automatically generated by 
			MyBatis Generator, do not modify. -->
			
		<id column="ID" property="ID" jdbcType="VARCHAR" />
        <result column="prod_no" property="prod_no" jdbcType="VARCHAR" />
        <result column="prod_name" property="prod_name" jdbcType="VARCHAR" />
        <result column="prod_desc" property="prod_desc" jdbcType="VARCHAR" />
        <result column="price" property="price" jdbcType="VARCHAR" />
        <result column="totalnum" property="totalnum" jdbcType="VARCHAR" />
        <result column="sale_n" property="sale_n" jdbcType="VARCHAR" />
        <result column="is_pinkage" property="is_pinkage" jdbcType="VARCHAR" />
        <result column="express_price" property="express_price" jdbcType="VARCHAR" />
        <result column="min_price" property="min_price" jdbcType="VARCHAR" />
        <result column="max_price" property="max_price" jdbcType="VARCHAR" />
        <result column="status" property="status" jdbcType="VARCHAR" />
        <result column="create_date" property="create_date" jdbcType="VARCHAR" />
        <result column="PROD_HEAD" property="PROD_HEAD" jdbcType="VARCHAR" />
		<collection property="propList" column="ID" javaType="ArrayList"
			ofType="pd" select="ProductMapper.findProp" />
		<collection property="skuList" column="ID" javaType="ArrayList"
			ofType="pd" select="ProductMapper.findSku" />
		<collection property="specList" column="ID" javaType="ArrayList"
			ofType="pd" select="ProductMapper.findSpec" />
		<!-- <collection property="imagesList" column="ID" javaType="ArrayList"
			ofType="pd" select="ProductMapper.findImages" />
		<collection property="descimagesList" column="ID" javaType="ArrayList"
			ofType="pd" select="ProductMapper.finddescImages" /> -->
	</resultMap>
	<!-- 获取产品属性 -->
	<select id="findProp" parameterType="page" resultType="pd">
		select
				*
		from 
				JL_DP_PRODUCT_prop
		where 1 = 1 and PRODUCT_ID=#{ID} order by ORDERBY
	</select>
	<!-- 获取产品规格 -->
	<select id="findSpec" parameterType="page" resultType="pd">
		select
				ID,PROD_ID,PROD_SPEC_NAME,REPLACE(PROD_SPEC_VALUE, ',', '#') as PROD_SPEC_VALUE,ORDERBY
		from 
				JL_DP_PRODUCT_spec
		where 1 = 1 and PROD_ID=#{ID} order by ORDERBY
	</select>
	<!-- 获取产品sku信息 -->
	<select id="findSku" parameterType="page" resultType="pd">
		select
				ID,PROD_ID,PRICE,STOCK_N,SALE_N,REPLACE(SKU_INFO, ',', '#') as SKU_INFO,MARKET_PRICE,SALES_PRICE
		from 
				JL_DP_PRODUCT_sku
		where 1 = 1 and PROD_ID=#{ID}
	</select>
	<!-- 获取产品图片信息 -->
	<select id="findImages" parameterType="pd" resultType="pd">
		select
						ID,IMG_PATH
				from 
						JL_DP_PRODUCT_img
				where 1 = 1 and TYPE='00' and PRODUCT_ID=#{ID} order by ORDERBY
		
	</select>
	
	<!-- 获取产品介绍图片信息 -->
	<select id="finddescImages" parameterType="pd" resultType="pd">
		select
						ID,IMG_PATH
				from 
						JL_DP_PRODUCT_img
				where 1 = 1 and TYPE='01' and PRODUCT_ID=#{ID} order by ORDERBY
		
	</select>
	
	<select id="queryMaxOrderby" parameterType="pd" resultType="pd">
		select
						max(ORDERBY+1) ORDERBY
				from 
						JL_DP_PRODUCT_img
				where 1 = 1 and TYPE=#{TYPE} and PRODUCT_ID=#{ID}
		
	</select>
	
	
	
	<!-- 通过ID获取数据 -->
	<select id="findById" parameterType="pd" resultMap="oMap">
		select 
			prod_no,	
			prod_name,	
			prod_desc,	
			price,	
			totalnum,	
			sale_n,	
			is_pinkage,	
			express_price,	
			min_price,	
			max_price,	
			status,	
			create_date,
			PROD_HEAD,	
			ID
		from 
			JL_DP_PRODUCT
		where 
			1=1
			<if test="ID != null and ID != ''">
				and ID = #{ID}
			</if>
			<if test="prod_no != null and prod_no != ''">
				and prod_no = #{prod_no}
			</if>
	</select>

	 <!-- 添加商品信息 -->
	<insert id="save" parameterType="pd">
		INSERT INTO JL_DP_PRODUCT (ID,PROD_NO,PROD_NAME,PROD_BRAND_ID,PROD_CATALOG,PROD_CATALOG_DETAIL,PRICE,MAX_PRICE,MIN_PRICE,EXPRESS_PRICE,PROD_DESC,TOTALNUM,IS_PINKAGE,PROD_HEAD,CREATE_DATE) VALUES 
		(#{ID},#{PROD_NO},#{PROD_NAME},#{PROD_BRAND_ID},#{PROD_CATALOG},#{PROD_CATALOG_DETAIL},#{PRICE},#{MAX_PRICE},#{MIN_PRICE},#{EXPRESS_PRICE},#{PROD_DESC},#{TOTALNUM},#{IS_PINKAGE},#{PROD_HEAD},#{CREATE_DATE})
	</insert> 
	
	 <!-- 添加商品信息 -->
	<insert id="saveProShop" parameterType="pd">
		INSERT INTO JL_DP_PRODUCT_SHOP (ID,PROD_ID,SHOP_ID,USER_ID) VALUES (#{ID},#{PROD_ID},#{SHOP_ID},#{USER_ID})
	</insert>  
	
	<!-- 新增产品属性-->
	<insert id="saveProp" parameterType="pd">
		insert into JL_DP_PRODUCT_PROP(
			PRODUCT_ID,	
			PROP_NAME,	
			PROP_VALUE,	
			ORDERBY,		
			ID
		) values (
			#{PRODUCT_ID},	
			#{PROP_NAME},	
			#{PROP_VALUE},	
			#{ORDERBY},
			#{ID}
		)
	</insert>
	<!-- 删除产品属性-->
	<delete id="deleteProp" parameterType="pd">
		delete from JL_DP_PRODUCT_PROP
		where 
			PRODUCT_ID = #{PRODUCT_ID}
	</delete>
	
	<!-- 新增产品规格-->
	<insert id="saveSpec" parameterType="pd">
		insert into JL_DP_PRODUCT_spec(
			PROD_ID,	
			PROD_SPEC_NAME,	
			PROD_SPEC_VALUE,
			PROD_SPEC_ID,	
			ORDERBY,		
			ID
		) values (
			#{PROD_ID},	
			#{PROD_SPEC_NAME},	
			#{PROD_SPEC_VALUE},	
			'GUIGE',
			#{ORDERBY},
			#{ID}
		)
	</insert>
	<!-- 删除产品规格-->
	<delete id="deleteSpec" parameterType="pd">
		delete from JL_DP_PRODUCT_spec
		where 
			PROD_ID = #{PROD_ID}
	</delete>
	
	<!-- 新增产品sku信息-->
	<insert id="saveSku" parameterType="pd">
		insert into JL_DP_PRODUCT_sku(
			PROD_ID,	
			SKU_N,	
			PRICE,	
			STOCK_N,
			SKU_INFO,	
			MARKET_PRICE,	
			SALES_PRICE,	
			ID
		) values (
			#{PROD_ID},	
			#{SKU_N},	
			#{PRICE},	
			#{STOCK_N},
			#{SKU_INFO},
			#{MARKET_PRICE},
			#{SALES_PRICE},
			#{ID}
		)
	</insert>
	
	
	<!-- 删除产品sku信息-->
	<delete id="deleteSku" parameterType="pd">
		delete from JL_DP_PRODUCT_sku
		where 
			PROD_ID = #{PROD_ID}
	</delete>

	<update id="edit" parameterType="pd">
		UPDATE JL_DP_PRODUCT SET 
		<if test="PROD_NO !=null and PROD_NO !='' ">
			PROD_NO=#{PROD_NO},	
		</if>
		<if test="PROD_NAME !=null and PROD_NAME !='' ">
			PROD_NAME=#{PROD_NAME},
		</if>	
		<if test="PROD_BRAND_ID !=null and PROD_BRAND_ID !='' ">
			PROD_BRAND_ID=#{PROD_BRAND_ID},
		</if>	
		<if test="PROD_CATALOG !=null and PROD_CATALOG !='' ">
			PROD_CATALOG=#{PROD_CATALOG},
		</if>	
		<if test="PROD_CATALOG_DETAIL !=null and PROD_CATALOG_DETAIL !='' ">
			PROD_CATALOG_DETAIL=#{PROD_CATALOG_DETAIL},
		</if>	
		<if test="STATUS !=null and STATUS !='' ">
			STATUS=#{STATUS},
		</if>  
		<if test="SALE_N !=null and SALE_N !='' ">
			SALE_N=#{SALE_N},	
		</if>
		<if test="PRICE !=null and PRICE !='' ">
			PRICE=#{PRICE},
		</if>	
		<if test="MAX_PRICE !=null and MAX_PRICE !='' ">
			MAX_PRICE=#{MAX_PRICE},
		</if>	
		<if test="MIN_PRICE !=null and MIN_PRICE !='' ">
			MIN_PRICE=#{MIN_PRICE},
		</if>	
		<if test="EXPRESS_PRICE !=null and EXPRESS_PRICE !='' ">
			EXPRESS_PRICE=#{EXPRESS_PRICE},
		</if>	
		<if test="PROD_DESC !=null and PROD_DESC !='' ">
			PROD_DESC=#{PROD_DESC},
		</if>  
		<if test="TOTALNUM !=null and ATOTALNUMDDR !='' ">
			TOTALNUM=#{TOTALNUM},
		</if>  
		<if test="IS_PINKAGE !=null and IS_PINKAGE !='' ">
			IS_PINKAGE=#{IS_PINKAGE},
		</if>  
		<if test="PROD_HEAD !=null and PROD_HEAD !='' ">
			PROD_HEAD=#{PROD_HEAD},
		</if>  
		<if test="CREATE_DATE !=null and CREATE_DATE !='' ">
			CREATE_DATE=#{CREATE_DATE},
		</if>  
		ID = #{ID}
		WHERE ID = #{ID}
	</update> 
	
	<update id="updateStatus" parameterType="pd">
		UPDATE JL_DP_PRODUCT SET STATUS=#{STATUS} WHERE ID=#{ID}
	</update>
	 
    <delete id="delete" parameterType="pd">
		DELETE FROM JL_DP_PRODUCT WHERE ID=#{ID} 
	</delete>
	
	<!-- 新增产品图片-->
	<insert id="saveImg" parameterType="pd">
		insert into jl_dp_product_img(
			ID,
			PRODUCT_ID,
			IMG_PATH,
			ORDERBY,
			TYPE

		) values (
			#{ID},
			#{PRODUCT_ID},
			#{IMG_PATH},
			#{ORDER_BY},
			#{TYPE}

		)
	</insert>
	
	 <!-- 删除图片 -->
	 <delete id="del" parameterType="pd">
		delete from jl_dp_product_img where ID IN 
		<foreach collection="array" item="des" open="(" close=")"
			separator=",">
			#{des}
		</foreach>
	 </delete>  
</mapper>