<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="ShopUsersMapper">  
	
	 <!--修改密码-->
	<update id="editPassWord" parameterType="pd" flushCache="false">
		UPDATE  APP_USER SET  
		<if test="PASSWORD !=null and PASSWORD !='' ">
		    PASSWORD=#{PASSWORD},	
		</if>
		USER_NAME = #{USER_NAME}
			WHERE (USER_NAME =#{USER_NAME} OR CARD_NO =#{USER_NAME} OR PHONE = #{USER_NAME})
	</update>  
	 
    <!-- 获取数据 -->
	<select id="doLogin" parameterType="pd" resultType="pd">
		select *,ID as userid from app_user where (USER_NAME = #{USERNAME} or PHONE=#{USERNAME}) and PASSWORD = #{PASSWORD} AND ISDEL=1
	</select>  
	
	<!-- 根据用户名或者卡号或者手机号查找信息-->
	<select id="doCheckLogin" parameterType="pd" resultType="pd"> 
		select *,ID as userid from app_user where PHONE=#{PHONE} AND ISDEL=1
	</select>
</mapper>