<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppProjectMapper">  

	<!--根据项目名称搜索未中标项目列表-->
	<select id="queryNoBidderByParam" parameterType="pd" resultType="pd">
		SELECT P.*,CASE P.STATUS  WHEN '1' THEN '待审核'  WHEN '2' THEN '审核未通过'  WHEN '3' THEN '审核通过'  WHEN '4' THEN '接单中'  WHEN '5' THEN '已接单'  WHEN '6' THEN '交易完成' END AS PROJECT_STATUS,P.DUE_DATE &gt;now() AS DUE_STATUS,
          U.REAL_NAME,SU.NAME AS SYS_NAME,B.NAME AS TYPE_NAME, C.NAME AS LEVEL_NAME,D.NAME AS STAGE_NAME,E.NAME AS BID_NAME,A.REAL_NAME AS WINNER_NAME,S.REAL_NAME AS MANAGER_NAME ,(SELECT CP.COMPANY_NAME FROM COMPANY CP WHERE CP.ID=U.COMPANY_ID AND CP.ISDEL=1) AS COMPANY_NAME,U.COMPANY_ID
          FROM PROJECT P LEFT JOIN APP_USER U ON P.USER_ID=U.ID LEFT JOIN SYS_USER SU ON P.CREATE_BY=SU.ID LEFT JOIN sys_dictionaries B ON B.BIANMA=P.PROJECT_TYPE_ID LEFT JOIN APP_USER A ON P.BID_WINNER_ID=A.ID 
		  LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN app_user S ON S.ID=P.PROJECT_MANAGER_ID
		  LEFT JOIN sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL WHERE P.STATUS &lt; 5 and P.STATUS &gt;=4 AND P.ISDEL=1
		<if test="PROJECT_NAME !=null">
		    and PROJECT_NAME LIKE CONCAT(CONCAT('%', #{PROJECT_NAME}),'%')
		</if>  
		 ORDER BY AUDIT_DATE DESC 
		 <if test="pageSize!=null and pageSize!=null and start!=null and start!=null">
			limit #{start},#{pageSize}
		</if>
		<!-- <if test="totalSize!=null and totalSize!=null">
			limit 0,#{totalSize}
		</if> -->
		  
	</select> 
	
	
	
	<!-- 根据项目名称搜索未中标项目列表总 -->
	<select id="queryNoBidderByParamzong" parameterType="pd" resultType="pd">
		SELECT COUNT(*) AS wxmzbzong
          FROM PROJECT P LEFT JOIN APP_USER U ON P.USER_ID=U.ID LEFT JOIN SYS_USER SU ON P.CREATE_BY=SU.ID LEFT JOIN sys_dictionaries B ON B.BIANMA=P.PROJECT_TYPE_ID LEFT JOIN APP_USER A ON P.BID_WINNER_ID=A.ID 
		  LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN SYS_USER S ON S.ID=P.PROJECT_MANAGER_ID
		  LEFT JOIN sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL WHERE P.STATUS &lt; 5 and P.STATUS &gt;=4 AND P.ISDEL=1
		<if test="PROJECT_NAME !=null">
		    and PROJECT_NAME LIKE CONCAT(CONCAT('%', #{PROJECT_NAME}),'%')
		</if>  
		 ORDER BY AUDIT_DATE DESC 
	</select>  
	
	<!-- 根据条件查询项目详情-->
	<select id="queryById" parameterType="pd" resultType="pd">
	SELECT P.*,CASE P.STATUS  WHEN '1' THEN '待审核'  WHEN '2' THEN '审核未通过'  WHEN '3' THEN '审核通过'  WHEN '4' THEN '接单中'  WHEN '5' THEN '已接单'  WHEN '6' THEN '交易完成' END AS PROJECT_STATUS,P.DUE_DATE &gt;now() AS DUE_STATUS,
          U.REAL_NAME,SU.NAME AS SYS_NAME,U.IMG AS USER_IMG,B.NAME AS TYPE_NAME, C.NAME AS LEVEL_NAME,D.NAME AS STAGE_NAME,E.NAME AS BID_NAME,A.REAL_NAME AS WINNER_NAME,S.NAME AS MANAGER_NAME ,S.PHONE AS MANAGER_PHONE ,(SELECT CP.COMPANY_NAME FROM COMPANY CP WHERE CP.ID=U.COMPANY_ID AND CP.ISDEL=1) AS COMPANY_NAME,U.COMPANY_ID,
          (SELECT CY.COMPANY_NAME FROM COMPANY CY WHERE CY.ID=A.COMPANY_ID AND CY.ISDEL=1) AS BID_COMPANY, N.NAME AS NO_PASS
          FROM PROJECT P LEFT JOIN APP_USER U ON P.USER_ID=U.ID LEFT JOIN SYS_USER SU ON P.CREATE_BY=SU.ID LEFT JOIN sys_dictionaries B ON B.BIANMA=P.PROJECT_TYPE_ID LEFT JOIN APP_USER A ON P.BID_WINNER_ID=A.ID 
		  LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN SYS_USER S ON S.ID=P.PROJECT_MANAGER_ID
		  LEFT JOIN sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL LEFT JOIN sys_dictionaries N ON N.BIANMA=P.NO_PASS_REASON  
		WHERE P.ID = #{ID} AND P.ISDEL=1
	</select>  
	
	<!-- 根据用户ID查询项目反馈信息 -->
	<select id="queryBackupByUId" parameterType="pd" resultType="pd">
		 SELECT P.*,B.DATE AS BACKUP_DATE,B.STATUS ,CASE P.STATUS  WHEN '1' THEN '待审核'  WHEN '2' THEN '审核未通过'  WHEN '3' THEN '审核通过'  WHEN '4' THEN '接单中'  WHEN '5' THEN '已接单'  WHEN '6' THEN '交易完成' END AS BACKUP_STATUS,
		  B.DESCRIPTION AS BACKUP_DESCRIPTION ,C.NAME AS LEVEL_NAME,E.NAME AS BIN_NAME,(SELECT CP.COMPANY_NAME FROM COMPANY CP WHERE CP.ID=U.COMPANY_ID AND CP.ISDEL=1) AS COMPANY_NAME,U.COMPANY_ID, U.REAL_NAME
		  FROM PROJECT P LEFT JOIN  project_backup B ON P.ID=B.PROJECT_ID  LEFT JOIN APP_USER U ON P.USER_ID=U.ID  LEFT JOIN  sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL  LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS
		WHERE B.USER_ID=#{userid} AND P.ISDEL=1 ORDER BY B.DATE DESC 
		<if test="pageSize!=null and pageSize!=null and start!=null and start!=null">
			limit #{start},#{pageSize}
		</if>
		<!-- <if test="totalSize!=null and totalSize!=null">
			limit 0,#{totalSize}
		</if>-->  
	</select> 
	
	<!-- 根据用户查询总项目反馈 -->
	<select id="queryBackupByUIdCOUNT" parameterType="pd" resultType="pd">
		 SELECT COUNT(*) AS uscount
		  FROM PROJECT P LEFT JOIN  project_backup B ON P.ID=B.PROJECT_ID  LEFT JOIN APP_USER U ON P.USER_ID=U.ID  LEFT JOIN  sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL  LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS
		WHERE B.USER_ID=#{userid} AND P.ISDEL=1 ORDER BY B.DATE DESC 
	</select> 
	
	
	
	<!-- 根据会员等级查询项目列表 -->
	<select id="queryPageByParam" parameterType="page" resultType="pd">  
		SELECT P.*,CASE P.STATUS  WHEN '1' THEN '待审核'  WHEN '2' THEN '审核未通过'  WHEN '3' THEN '审核通过'  WHEN '4' THEN '接单中'  WHEN '5' THEN '已接单'  WHEN '6' THEN '交易完成' END AS PROJECT_STATUS,
          U.REAL_NAME,SU.NAME AS SYS_NAME,U.IMG AS USER_IMG,B.NAME AS TYPE_NAME, C.NAME AS LEVEL_NAME,D.NAME AS STAGE_NAME,E.NAME AS BID_NAME,A.REAL_NAME AS WINNER_NAME,S.NAME AS MANAGER_NAME ,S.PHONE AS MANAGER_PHONE ,(SELECT CP.COMPANY_NAME FROM COMPANY CP WHERE CP.ID=U.COMPANY_ID AND CP.ISDEL=1) AS COMPANY_NAME,U.COMPANY_ID,
          (SELECT CY.COMPANY_NAME FROM COMPANY CY WHERE CY.ID=A.COMPANY_ID AND CY.ISDEL=1) AS BID_COMPANY
          FROM PROJECT P LEFT JOIN APP_USER U ON P.USER_ID=U.ID LEFT JOIN SYS_USER SU ON P.CREATE_BY=SU.ID LEFT JOIN sys_dictionaries B ON B.BIANMA=P.PROJECT_TYPE_ID LEFT JOIN APP_USER A ON P.BID_WINNER_ID=A.ID 
		  LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN SYS_USER S ON S.ID=P.PROJECT_MANAGER_ID
		  LEFT JOIN sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL   
		WHERE 1=1 and P.STATUS &gt;=4   AND P.ISDEL=1
		<if test="pd.ID !=null">
			and P.ID = #{pd.ID}
		</if>
		<if test="pd.PROJECT_NAME !=null">
		    and P.PROJECT_NAME LIKE CONCAT(CONCAT('%', #{pd.PROJECT_NAME}),'%')
		</if>
		<if test="pd.USER_ID !=null">	
			and P.USER_ID=#{pd.USER_ID}
		</if> 
		<if test="pd.ADDR !=null">	
			and P.ADDR=#{pd.ADDR}
		</if>
		<if test="pd.DUE_DATE !=null">	
			and P.DUE_DATE=#{pd.DUE_DATE}
		</if>
		<if test="pd.PROJECT_CONTENT !=null">	
			and P.PROJECT_CONTENT=#{pd.PROJECT_CONTENT}
		</if>
		<if test="pd.PROJECT_TYPE_ID !=null">	
			and P.PROJECT_TYPE_ID=#{pd.PROJECT_TYPE_ID}
		</if>
		<if test="pd.RELEASE_DATE !=null">	
			and P.RELEASE_DATE=#{pd.RELEASE_DATE}
		</if>
		<if test="pd.PROJECT_LEVEL !=null">
			and P.PROJECT_LEVEL=#{pd.PROJECT_LEVEL}
		</if>
		<if test="pd.STATUS !=null">	
			and P.STATUS=#{pd.STATUS}
		</if>
		<if test="pd.BID_WINNER_ID !=null">	
			and P.BID_WINNER_ID=#{pd.BID_WINNER_ID}
		</if>
		<if test="pd.BID_DATE !=null">
			and P.BID_DATE=#{pd.BID_DATE}
		</if>
		<if test="pd.BID_PRICE !=null">	
			and P.BID_PRICE=#{pd.BID_PRICE}
		</if>
		<if test="pd.NO_PASS_REASON !=null">
			and P.NO_PASS_REASON=#{pd.NO_PASS_REASON}
		</if>
		<if test="pd.AUDIT_BY !=null">
			and P.AUDIT_BY=#{pd.AUDIT_BY}
		</if>
		<if test="pd.AUDIT_DATE !=null">
			and P.AUDIT_DATE=#{pd.AUDIT_DATE}
		</if> 
		<if test="pd.PROJECT_STAGE_ID !=null">
			and P.PROJECT_STAGE_ID=#{pd.PROJECT_STAGE_ID} 
		</if>
		<if test="pd.BID_REQUIREMENTS !=null">
			and P.BID_REQUIREMENTS=#{pd.BID_REQUIREMENTS} 
		</if> 
		<if test="pd.PROJECT_MANAGER_ID !=null">
			and P.PROJECT_MANAGER_ID=#{pd.PROJECT_MANAGER_ID} 
		</if> 
		<if test="pd.IS_HOT !=null">
			and P.IS_HOT=#{pd.IS_HOT} 
		</if>  
		 ORDER BY P.AUDIT_DATE DESC 
		<if test="pd.pageSize!=null and pd.pageSize!=null and pd.start!=null and pd.start!=null">
			limit #{pd.start},#{pd.pageSize}
		</if> 
	</select>  
	
	<!-- 交易列表zong -->
	<select id="queryPageByParamprozong" parameterType="page" resultType="pd">  
		SELECT COUNT(*) AS projectzong
          FROM PROJECT P LEFT JOIN APP_USER U ON P.USER_ID=U.ID LEFT JOIN SYS_USER SU ON P.CREATE_BY=SU.ID LEFT JOIN sys_dictionaries B ON B.BIANMA=P.PROJECT_TYPE_ID LEFT JOIN APP_USER A ON P.BID_WINNER_ID=A.ID 
		  LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN SYS_USER S ON S.ID=P.PROJECT_MANAGER_ID
		  LEFT JOIN sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL   
		WHERE 1=1 and P.STATUS &gt;=4 AND P.ISDEL=1
		
		<if test="pd.ID !=null">
			and P.ID = #{pd.ID}
		</if>
		<if test="pd.PROJECT_NAME !=null">
		    and P.PROJECT_NAME LIKE CONCAT(CONCAT('%', #{pd.PROJECT_NAME}),'%')
		</if>
		<if test="pd.USER_ID !=null">	
			and P.USER_ID=#{pd.USER_ID}
		</if> 
		<if test="pd.ADDR !=null">	
			and P.ADDR=#{pd.ADDR}
		</if>
		<if test="pd.DUE_DATE !=null">	
			and P.DUE_DATE=#{pd.DUE_DATE}
		</if>
		<if test="pd.PROJECT_CONTENT !=null">	
			and P.PROJECT_CONTENT=#{pd.PROJECT_CONTENT}
		</if>
		<if test="pd.PROJECT_TYPE_ID !=null">	
			and P.PROJECT_TYPE_ID=#{pd.PROJECT_TYPE_ID}
		</if>
		<if test="pd.RELEASE_DATE !=null">	
			and P.RELEASE_DATE=#{pd.RELEASE_DATE}
		</if>
		<if test="pd.PROJECT_LEVEL !=null">
			and P.PROJECT_LEVEL=#{pd.PROJECT_LEVEL}
		</if>
		<if test="pd.STATUS !=null">	
			and P.STATUS=#{pd.STATUS}
		</if>
		<if test="pd.BID_WINNER_ID !=null">	
			and P.BID_WINNER_ID=#{pd.BID_WINNER_ID}
		</if>
		<if test="pd.BID_DATE !=null">
			and P.BID_DATE=#{pd.BID_DATE}
		</if>
		<if test="pd.BID_PRICE !=null">	
			and P.BID_PRICE=#{pd.BID_PRICE}
		</if>
		<if test="pd.NO_PASS_REASON !=null">
			and P.NO_PASS_REASON=#{pd.NO_PASS_REASON}
		</if>
		<if test="pd.AUDIT_BY !=null">
			and P.AUDIT_BY=#{pd.AUDIT_BY}
		</if>
		<if test="pd.AUDIT_DATE !=null">
			and P.AUDIT_DATE=#{pd.AUDIT_DATE}
		</if> 
		<if test="pd.PROJECT_STAGE_ID !=null">
			and P.PROJECT_STAGE_ID=#{pd.PROJECT_STAGE_ID} 
		</if>
		<if test="pd.BID_REQUIREMENTS !=null">
			and P.BID_REQUIREMENTS=#{pd.BID_REQUIREMENTS} 
		</if> 
		<if test="pd.PROJECT_MANAGER_ID !=null">
			and P.PROJECT_MANAGER_ID=#{pd.PROJECT_MANAGER_ID} 
		</if> 
		<if test="pd.IS_HOT !=null">
			and P.IS_HOT=#{pd.IS_HOT} 
		</if>  
		 ORDER BY P.AUDIT_DATE DESC 
	</select>  
	
	
	<!-- 我要接单 -->
	<insert id="addbidder" parameterType="pd">
	INSERT INTO project_bidder(ID,PROJECT_ID,APP_USER_ID,BID_DATE) VALUES(#{ID},#{PROJECT_ID},#{userid},#{BID_DATE}) 
	</insert>
	
	<!-- 我要取消接单 -->
	<!-- <delete id="deletebidder" parameterType="pd">
		DELETE FROM project_bidder WHERE PROJECT_ID=#{PROJECT_ID} AND APP_USER_ID=#{userid} 
	</delete> -->
	<update id="deletebidder" parameterType="pd" flushCache="false">
		update  project_bidder set  
		ISDEL='2'
		WHERE PROJECT_ID=#{PROJECT_ID} AND APP_USER_ID=#{userid}
	</update>
	<!-- 删除项目 -->
	<!-- <delete id="delete" parameterType="pd">
		DELETE FROM project WHERE ID=#{ID} 
	</delete> -->
	 <update id="delete" parameterType="pd" flushCache="false">
		update  project set  
		ISDEL='2'
		WHERE ID=#{ID} 
	</update>
	<!-- 项目中标确认 -->
	<update id="upsummaryok" parameterType="pd" flushCache="false">
		UPDATE  PROJECT SET 
		<if test="STATUS !=null and STATUS !='' ">
		    STATUS=5,	
		</if>
		  ID = #{ID}  
			WHERE ID = #{ID}
	</update>
	
	<!-- 项目列表获取 -->
	<select id="queryprojectlist" parameterType="pd" resultType="pd">
		  SELECT P.*,CASE P.STATUS  WHEN '1' THEN '待审核'  WHEN '2' THEN '审核未通过'  WHEN '3' THEN '审核通过'  WHEN '4' THEN '接单中'  WHEN '5' THEN '已接单'  WHEN '6' THEN '交易完成' END AS PROJECT_STATUS,
          U.REAL_NAME,SU.NAME AS SYS_NAME,B.NAME AS TYPE_NAME, C.NAME AS LEVEL_NAME,D.NAME AS STAGE_NAME,E.NAME AS BID_NAME,A.REAL_NAME AS WINNER_NAME,S.NAME AS MANAGER_NAME ,(SELECT CP.COMPANY_NAME FROM COMPANY CP WHERE CP.ID=U.COMPANY_ID AND CP.ISDEL=1) AS COMPANY_NAME,U.COMPANY_ID
          FROM PROJECT P LEFT JOIN APP_USER U ON P.USER_ID=U.ID LEFT JOIN SYS_USER SU ON P.CREATE_BY=SU.ID LEFT JOIN sys_dictionaries B ON B.BIANMA=P.PROJECT_TYPE_ID LEFT JOIN APP_USER A ON P.BID_WINNER_ID=A.ID 
		  LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN SYS_USER S ON S.ID=P.PROJECT_MANAGER_ID
		  LEFT JOIN sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL  WHERE P.STATUS &gt;=4 AND P.ISDEL=1;
	</select>
	
	
	
	<!-- 根据项目Id查询项目所有信息，为修改做准备 -->
	<select id="queryByProId" parameterType="pd" resultType="pd">
	 	SELECT * FROM PROJECT WHERE ID=#{ID} AND ISDEL=1
	</select>
	
	<!-- 新增-->
	<insert id="save" parameterType="pd">
		insert into project(
			ID,PROJECT_NAME,	USER_ID,ADDR,	DUE_DATE,	PROJECT_CONTENT,	
			PROJECT_TYPE_ID,	RELEASE_DATE,	PROJECT_LEVEL,	STATUS,	
			BID_REQUIREMENTS,START_PRICE,COLLECTION_COUNTS,MODIFY_BY,MODIFY_DATE,PROJECT_STAGE_ID,
			IS_HOT, BUILD_LAYERS,BUILD_AREA,FLOOR_AREA,AVAILABLE_MATERIALS,RESOURCE,DESCRIPTION,CITY
		) values (
			#{PROJECT_ID},#{PROJECT_NAME},	#{userid},	#{ADDR},	#{DUE_DATE},	#{PROJECT_CONTENT},	
			#{PROJECT_TYPE_ID},	#{RELEASE_DATE},	#{PROJECT_LEVEL},	#{STATUS},
			#{BID_REQUIREMENTS},#{START_PRICE},#{COLLECTION_COUNTS},#{MODIFY_BY},#{MODIFY_DATE},#{PROJECT_STAGE_ID},
			#{IS_HOT},#{BUILD_LAYERS},#{BUILD_AREA},#{FLOOR_AREA},#{AVAILABLE_MATERIALS},#{RESOURCE},#{DESCRIPTION},#{CITY}  
		)
	</insert>
	
	<!-- 修改 -->
	<update id="edit" parameterType="pd" flushCache="false">
		update  project set 
		<if test="PROJECT_NAME !=null">
		     PROJECT_NAME= #{PROJECT_NAME},
		</if>
		<if test="USER_ID !=null">	
			USER_ID=#{userid},
		</if> 
		<if test="ADDR !=null">	
			ADDR=#{ADDR},
		</if>
		<if test="DUE_DATE !=null">	
			DUE_DATE=#{DUE_DATE},
		</if>
		<if test="PROJECT_CONTENT !=null">	
			PROJECT_CONTENT=#{PROJECT_CONTENT},
		</if>
		<if test="PROJECT_TYPE_ID !=null">	
			PROJECT_TYPE_ID=#{PROJECT_TYPE_ID},
		</if>
		<if test="RELEASE_DATE !=null">	
			RELEASE_DATE=#{RELEASE_DATE},
		</if>
		<if test="PROJECT_LEVEL !=null">
			PROJECT_LEVEL=#{PROJECT_LEVEL},
		</if>
		<if test="STATUS !=null">	
			STATUS=#{STATUS},
		</if>
		<if test="BID_WINNER_ID !=null">	
			BID_WINNER_ID=#{BID_WINNER_ID},
		</if>
		<if test="BID_DATE !=null">
			BID_DATE=#{BID_DATE},
		</if>
		<if test="BID_PRICE !=null">	
			BID_PRICE=#{BID_PRICE},
		</if>
		<if test="NO_PASS_REASON !=null">
			NO_PASS_REASON=#{NO_PASS_REASON},
		</if>
		<if test="PROJECT_STAGE_ID !=null">
			PROJECT_STAGE_ID=#{PROJECT_STAGE_ID} ,
		</if>
		<if test="BID_REQUIREMENTS !=null">
			BID_REQUIREMENTS=#{BID_REQUIREMENTS} ,
		</if>
		<if test="START_PRICE !=null">
			START_PRICE=#{START_PRICE} ,
		</if>
		<if test="COLLECTION_COUNTS !=null">
			COLLECTION_COUNTS=#{COLLECTION_COUNTS} ,
		</if>
		<if test="PROJECT_MANAGER_ID !=null">
			PROJECT_MANAGER_ID=#{PROJECT_MANAGER_ID} ,
		</if> 
		<if test="IS_HOT !=null">
			IS_HOT=#{IS_HOT} ,
		</if> 
		<if test="DESCRIPTION !=null">
			 DESCRIPTION=#{DESCRIPTION} ,
		</if> 
		<if test="BUILD_LAYERS !=null">
			BUILD_LAYERS=#{BUILD_LAYERS}, 
		</if> 
		<if test="BUILD_AREA !=null">
			 BUILD_AREA=#{BUILD_AREA} ,
		</if> 
		<if test="FLOOR_AREA !=null">
			 FLOOR_AREA=#{FLOOR_AREA}, 
		</if> 
		<if test="AVAILABLE_MATERIALS!=null">
			AVAILABLE_MATERIALS=#{AVAILABLE_MATERIALS} ,
		</if> 
		<if test="RESOURCE!=null">
			RESOURCE=#{RESOURCE}, 
		</if>
		<if test="AUDIT_BY !=null">
			AUDIT_BY=#{AUDIT_BY},
		</if>
		<if test="AUDIT_DATE !=null">
			 AUDIT_DATE=#{AUDIT_DATE},
		</if>
		<if test="MODIFY_BY !=null">
			MODIFY_BY=#{MODIFY_BY},
		</if>
		<if test="MODIFY_DATE !=null">
			MODIFY_DATE=#{MODIFY_DATE},
		</if> 
		<if test="CITY !=null">
			CITY=#{CITY},
		</if> 
		ID = #{ID}
		where ID = #{ID}
	</update>
	
	<!-- 热门项目列表搜索 -->
	<select id="queryHotProject" parameterType="pd" resultType="pd">
	   SELECT P.*,CASE P.STATUS  WHEN '1' THEN '待审核'  WHEN '2' THEN '审核未通过'  WHEN '3' THEN '审核通过'  WHEN '4' THEN '接单中'  WHEN '5' THEN '待确认'  WHEN '6' THEN '交易完成' END AS PROJECT_STATUS,
          U.REAL_NAME,SU.NAME AS SYS_NAME,B.NAME AS TYPE_NAME, C.NAME AS LEVEL_NAME,D.NAME AS STAGE_NAME,E.NAME AS BID_NAME,A.REAL_NAME AS WINNER_NAME,S.NAME AS MANAGER_NAME ,(SELECT CP.COMPANY_NAME FROM COMPANY CP WHERE CP.ID=U.COMPANY_ID AND CP.ISDEL=1) AS COMPANY_NAME,U.COMPANY_ID
          FROM PROJECT P LEFT JOIN APP_USER U ON P.USER_ID=U.ID LEFT JOIN SYS_USER SU ON P.CREATE_BY=SU.ID LEFT JOIN sys_dictionaries B ON B.BIANMA=P.PROJECT_TYPE_ID LEFT JOIN APP_USER A ON P.BID_WINNER_ID=A.ID 
		  LEFT JOIN sys_dictionaries D ON D.BIANMA=P.PROJECT_STAGE_ID LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN SYS_USER S ON S.ID=P.PROJECT_MANAGER_ID
		  LEFT JOIN sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL  WHERE IS_HOT=1 and P.STATUS &gt;=4 AND P.ISDEL=1 ORDER BY MODIFY_DATE DESC LIMIT 0,3 
	</select> 
	
	<!-- 最新成功交易的项目 -->
	<select id="queryNewBidder" parameterType="pd" resultType="pd">
	  <!--  SELECT P.ID,P.PROJECT_NAME,P.PROJECT_CONTENT,A.REAL_NAME AS WINNER_NAME,(SELECT CY.COMPANY_NAME FROM COMPANY CY WHERE CY.ID=A.COMPANY_ID AND CY.ISDEL=1) AS BID_COMPANY
          FROM PROJECT P LEFT JOIN  APP_USER A ON P.BID_WINNER_ID=A.ID 	WHERE  P.STATUS =6 AND P.ISDEL=1  ORDER BY BID_DATE DESC LIMIT 0,1
	 -->
	SELECT P.ID,P.PROJECT_NAME,P.COVER_PATH,P.IS_RESOURCE,P.USER_ID,P.CREATE_BY,P.PROJECT_CONTENT,P.COVER_PATH FROM PROJECT P WHERE  P.STATUS =6 AND P.ISDEL=1 
	 ORDER BY P.BID_DATE DESC LIMIT 0,1
	</select>
	
	<!-- 修改收藏次数 -->
	<update id="updateCounts" parameterType="pd">
		UPDATE PROJECT SET  
		<if test="COLLECTION_COUNTS != null and COLLECTION_COUNTS !=''">
		   COLLECTION_COUNTS=COLLECTION_COUNTS+1,
		</if>  
		<if test="PART_COUNT != null and PART_COUNT !=''">
		   PART_COUNT=PART_COUNT+1,
		</if>  
		ID=#{PROJECT_ID} WHERE ID=#{PROJECT_ID}
    </update> 
    <!-- 修改取消收藏次数 -->
	<update id="updateminus" parameterType="pd">
		UPDATE PROJECT SET  
		<if test="COLLECTION_COUNTS != null and COLLECTION_COUNTS !=''">
		   COLLECTION_COUNTS=#{COLLECTION_COUNTS},
		</if> 
		<if test="PART_COUNT != null and PART_COUNT !=''">
		   PART_COUNT=PART_COUNT-1,
		</if>   
		ID=#{PROJECT_ID} WHERE ID=#{PROJECT_ID}
    </update> 
    
    <!-- 根据标题模糊查询 -->
    <select id="findProjectByTitle" parameterType="pd" resultType="pd">
		SELECT p.ID,p.PROJECT_NAME,p.PROJECT_CONTENT,p.STATUS from PROJECT p 
		where p.STATUS &gt;=4 AND p.BID_REQUIREMENTS =(SELECT VIP_LEVEL FROM APP_USER WHERE ID=#{userid} AND VIP_LEVEL!='02' and ISDEL=1) AND P.ISDEL=1
       <if test="TITLE != null and TITLE !=''">
		   AND p.PROJECT_NAME LIKE CONCAT(CONCAT('%', #{TITLE}),'%')
		</if>    
    </select> 
    
      <!--查询某个会员成功发布的项目总数 -->
    <select id="countPubProject" parameterType="pd" resultType="pd">
		SELECT count(*) counts from PROJECT where USER_ID=#{userid} and STATUS &gt;='04' AND ISDEL=1
    </select> 
    
      <!--查询某个会员是否已经接单某个项目 -->
    <select id="queryBiddedById" parameterType="pd" resultType="pd">
		SELECT * from PROJECT_BIDDER where APP_USER_ID=#{userid} and PROJECT_ID=#{ID} AND ISDEL=1
    </select> 
    
      <!--查询某个会员接单的项目 -->
    <select id="queryBidByUId" parameterType="pd" resultType="pd">
      SELECT P.*,CASE P.STATUS  WHEN '1' THEN '待审核'  WHEN '2' THEN '审核未通过'  WHEN '3' THEN '审核通过'  WHEN '4' THEN '已接单'  WHEN '5' THEN '交易确认中'  WHEN '6' THEN '交易完成' END AS BACKUP_STATUS,
          CASE P.BID_WINNER_ID  WHEN P.BID_WINNER_ID=PB.APP_USER_ID THEN 1 else 0 END AS FLAG,C.NAME AS LEVEL_NAME,E.NAME AS BIN_NAME,
          (SELECT CP.COMPANY_NAME FROM COMPANY CP WHERE CP.ID=U.COMPANY_ID AND CP.ISDEL=1) AS COMPANY_NAME,U.COMPANY_ID, U.REAL_NAME
      FROM PROJECT P LEFT JOIN  sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL   LEFT JOIN APP_USER U ON P.USER_ID=U.ID   
      LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN  project_bidder PB ON P.ID=PB.PROJECT_ID 
       WHERE PB.APP_USER_ID=#{userid} AND P.ISDEL=1
      order by PB.BID_DATE DESC  
      <if test="pageSize!=null and pageSize!=null and start!=null and start!=null">
			limit #{start},#{pageSize}
		</if>
	<!-- <if test="totalSize!=null and totalSize!=null">
		limit 0,#{totalSize}
	</if>  -->
    </select> 
    
    <!-- 接单项目总 -->
    <select id="queryBidByUIdjezong" parameterType="pd" resultType="pd">
      SELECT COUNT(*) AS jezong
      FROM PROJECT P LEFT JOIN  sys_dictionaries C ON C.BIANMA=P.PROJECT_LEVEL   LEFT JOIN APP_USER U ON P.USER_ID=U.ID   
      LEFT JOIN sys_dictionaries E ON E.BIANMA=P.BID_REQUIREMENTS LEFT JOIN  project_bidder PB ON P.ID=PB.PROJECT_ID 
       WHERE PB.APP_USER_ID=#{userid} AND P.ISDEL=1
      order by PB.BID_DATE DESC  
    </select>
    
    
    <!-- 查找材料 -->
    <select id="querycategory" parameterType="pd" resultType="pd">
		SELECT * FROM CATEGORY WHERE PID =#{PID} AND ISDEL=1
    </select> 
    <!-- 新增材料 -->
    <insert id="saveproject_category" parameterType="pd">
		INSERT INTO PROJECT_CATEGORY(ID,PROJECT_ID,CATEGORY_ID,DATE) 
		VALUES (#{ID},#{PROJECT_ID},#{CATEGORY_ID},#{DATE}) 
	</insert>
	<!-- 删除 -->
	<!-- <delete id="deletePROJECT_CATEGORY" parameterType="pd" flushCache="false">
		delete from PROJECT_CATEGORY where PROJECT_ID = #{PROJECT_ID} 
	</delete> -->
	<update id="deletePROJECT_CATEGORY" parameterType="pd">
		UPDATE PROJECT_CATEGORY SET  
		ISDEL='2' WHERE PROJECT_ID = #{PROJECT_ID}
    </update>
	 <!-- 根据项目Id查询材料-->
	<select id="queryCateByPid" parameterType="pd" resultType="pd" >
		SELECT * FROM project_category  WHERE PROJECT_ID=#{PROJECT_ID} AND ISDEL=1
	</select> 
</mapper>