<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" 
	"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="AppSxyMapper">

  	<!-- 根据id查询商学院详情 -->
  <select id="queryById" parameterType="pd" resultType="pd">
    SELECT JJS.ID,JJS.TITLE,JJS.PUBLISH_DATE,JJS.CONETENT,JJS.LIKE_COUNT,JJS.COMMENT_COUNT 
	FROM jl_jlb_sxy JJS 
	WHERE JJS.ID=#{ID}
  </select>
  
  <!--查询教授 -->
	<select id="queryByjs" resultType="pd" parameterType="pd">
		SELECT SJ.ID,SJ.PRO_NAME,SJ.PRO_TITLE,SJ.PRO_IMG,PRO_DETAILS_IMG 
		FROM JL_JLB_SXY JJS 
		LEFT JOIN JL_JLB_SXY_JS_GL JG ON JJS.ID=JG.SXY_ID 
		LEFT JOIN JL_JLB_SXY_JS SJ ON SJ.ID=JG.PRO_ID
		WHERE JJS.ISDEL=1 AND JG.SXY_ID=#{ID}
	</select>
</mapper>













